/* ============
day-timeline
============ */
section#day-timeline {
  margin-bottom: 3rem;
}
section#day-timeline .contents-timeline.timeline01-1 .timeline-list {
  padding: 2.5rem 0;
}
section#day-timeline .contents-timeline.timeline01-1 .timeline-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.5;
}
section#day-timeline .contents-timeline.timeline01-1 .timeline-list-item .date {
  width: 6.875rem;
  padding: 1rem 0 0 0;
  font-weight: 500;
}
section#day-timeline .contents-timeline.timeline01-1 .timeline-list-item .date p {
  font-size: 1.2rem;
  letter-spacing: 0;
}
section#day-timeline .contents-timeline.timeline01-1 .timeline-list-item .content {
  position: relative;
  width: 80%;
  padding: 1rem 1.25rem 1.75rem 1.875rem;
  border-left: 0.0625rem solid #70C1D2;
}
section#day-timeline .contents-timeline.timeline01-1 .timeline-list-item .content p {
  border-bottom: 0.0625rem dashed #70C1D2;
  font-size: 1.2rem;
  padding: 0 0 1rem;
}
section#day-timeline .contents-timeline.timeline01-1 .timeline-list-item .content::before {
  content: "";
  position: absolute;
  top: 1.5625rem;
  left: -0.46875rem;
  width: 0.7375rem;
  height: 0.7375rem;
  background-color: #70C1D2;
  border-radius: 0.625rem;
}

/* ============
day-contents
============ */
section#day-contents .contents__item {
  margin-bottom: 7rem;
}
section#day-contents .contents__item--img img {
  width: 100%;
}
section#day-contents .contents__item--text {
  margin-top: 1rem;
}
section#day-contents .contents__item--text .time-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
section#day-contents .contents__item--text .time {
  font-size: 2.25rem;
  color: #70C1D2;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
section#day-contents .contents__item--text .title {
  font-size: 1.625rem;
}
section#day-contents .contents__item--text .desc {
  margin-top: 3rem;
  text-align: center;
}
section#day-contents .contents__item--lists {
  margin: 3.5rem 0 2rem;
}
section#day-contents .contents__item--lists .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: dashed 1px #453939;
  padding: 1rem 0;
}
section#day-contents .contents__item--lists .list:first-child {
  border-top: dashed 1px #453939;
}
section#day-contents .contents__item--lists .list .title {
  width: 20%;
  line-height: 1.5;
}
section#day-contents .contents__item--lists .list .desc {
  width: 75%;
  margin-left: 5%;
  line-height: 1.5;
}