@use "../../style/abstracts/variables" as *;
@use "../../style/abstracts/functions" as *;

/* ============
schedule-contents
============ */
section#schedule-contents{
    margin-top: 4rem;
    .contents-visual.visual12-1 {
        position: relative;
        width: 100%;

        // ギャップ（各アイテム間のスペース）
        .visual12__gap {
            height: 10vh;
            background-color: transparent;
        }

        // 各アイテム
        .visual12__item {
            width: 100%;
            height: 100vh;
            position: relative;
            background-color: $color-secondary;


            // ラッパー
            &-wrap {
                width: 100%;
                height: inherit;
                position: relative;
            }

            // 画像エリア
            &-image {
                width: 100%;
                height: 100%;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }

            // テキストエリア
            &-text {
                position: absolute;
                inset: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                z-index: 10;
                padding: 0 3.5%;
                color: #fff;

                .visual12__item-title {
                    font-size: 2.3rem;
                    font-weight: 600;
                    margin-bottom: 1rem;
                }

                .visual12__item-description {
                    font-size: 1.2rem;
                    line-height: 1.8;
                    font-weight: 500;
                }
                .btn4 {
                    margin-top: 1.5rem;
                }
            }
        }

        // 2つ目・3つ目のアイテムのみ文字色を$color-mainに
        .visual12__item:nth-child(3),
        .visual12__item:nth-child(5) {
            .visual12__item-text {
                color: $color-main;
                .visual12__item-description{
                    font-weight: 700;
                }
            }
        }
    }
}