$color-main: #453939;
$color-primary: #70C1D2;
$color-secondary: #DFF6FA;
$color-white: #fff;

// 日本語
$font-main1: 'Noto Sans JP', sans-serif;

// 英語
$font-en1: 'Roboto', sans-serif;
$font-en2: 'Montserrat', sans-serif;